/* Generalized Layout */
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

h5, h6, p, span, small, li, input, select {
  font-family: 'Noto Sans KR', sans-serif !important;
}

h1, h2, h3, h4 {
  font-family: 'Nanum Myeongjo', serif !important;
}

.section-content {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#scrolltoTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:  rgba(3, 169, 244, 0.3);
  padding: 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in; 
}

#scrolltoTop:hover {
  background-color:  rgba(3, 169, 244, 0.7);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);  
}

a {
  text-decoration: none !important;
}

.nav-pills a.nav-link {
  color: #ddd!important;
}

.nav-pills a.nav-link:hover {
  color: #333!important;
}

.nav-pills a.nav-link.active {
  color: #fff!important;
}

.pull-right {
  float: right;
}

.divider-new,
.divider-old {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  font-weight:300;
}

.divider-new h2,
.divider-old h2 { 
  margin-top:5px;
}

.divider-new:before,
.divider-old:before {
  content:'';
  height:1.5px;
  background:#666;
  flex:1;
  margin:0 .45em 0 0;
}

.divider-new:after,
.divider-old:after {
  content:'';
  height:1.5px;
  background:#666;
  flex:1;
  margin:0 0 0 .45em;
}

.divider-new { 
  margin-top:45px;
  margin-bottom:45px;
}

span.tagline {
  display: inline-block;
  font-weight: 900 !important;
  border-bottom: 2px solid #ffbb33; 
}

.modal-xl { 
  max-width: 100%; 
}

footer {
  border-top: 1px solid #ddd;
}

/* Navbar */
.nav-item.dropdown-wide {
  position: static;
}

.navbar .dropdown-wide .dropdown-menu.w-75 {
  top: 3.4rem;
  left: 50%;
  transform: translateX(-50%) !important;
}

.navbar .dropdown-wide .dropdown-menu.w-100 {
  margin-top: 0.8rem;
}

@media( min-width: 768px ) and ( max-width: 991px ) {
  .navbar .dropdown-menu {
    position: static !important;
  }    
}

@media( max-width: 767px ){
  .navbar .dropdown-menu {
    position: static !important;
  }    
}

.navbar-nav > li > .dropdown-menu { 
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36); 
}

.nav-item .dropdown-menu:before {
  left: 0;
  top: 0;
}

@media screen and (max-width: 991px) {
  .navbar-collapse {
    background-color: #7986cb;
  }
  .navbar-collapse:after {
    background-image: none;
  }
  .navbar-collapse.collapse.show {
    overflow-x: scroll;
  }
  .navbar .dropdown .dropdown-menu, .navbar .dropdown.show .dropdown-menu {
    height: initial;
  }
}

/* Box item */
.box-item, .box-item-raised {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd; 
}

.box-item img, .box-item-raised img {
  display: block; 
}

.box-item div.card-img-overlay, .box-item-raised div.card-img-overlay {
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2em;
  background: rgba(234, 128, 252, 0.75);
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: top ease-in-out 250ms; 
}

.box-item div.card-img-overlay h1.card-title, .box-item-raised div.card-img-overlay h1.card-title,
.box-item div.card-img-overlay h2.card-title, .box-item-raised div.card-img-overlay h2.card-title,
.box-item div.card-img-overlay h4.card-title, .box-item-raised div.card-img-overlay h4.card-title {
  margin-bottom: auto; 
}

.box-item div.card-img-overlay a.boxItem-link, .box-item-raised div.card-img-overlay a.boxItem-link {
  color: white;
  font-weight: bold;
  border-bottom: 3px solid white;
  font-size: 1.1rem;
  text-decoration: none; 
}

.box-item.post-excerpt {
  position: absolute;
  top: 10px;
  left: -40px;
  right: 80px; 
}

.box-item:hover div.card-img-overlay, .box-item-raised:hover div.card-img-overlay,
.box-item:focus div.card-img-overlay, .box-item-raised:focus div.card-img-overlay {
  top: 0; 
}

.box-item-raised {
  transition: 0.5s; 
}

.box-item-raised:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36); 
}

/* Flex Panel Gallery */
.panels {
  min-height:100vh;
  overflow: hidden;
}

.panel {
  background:#6B0F9C;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
  font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  flex: 1;
  flex-direction: column;
}

/* Flex Items */
.panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.2s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }
.panel p {
  text-transform: uppercase;
  /*font-family: 'Amatic SC', cursive;*/
  font-family: 'Nanum Pen Script', cursive !important;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5;
  font-size:40px;
}

/* Carousel custom style */ 
.carousel-caption {
  top: 45% !important;
  bottom: 45% !important;
}

.carousel-caption p {
  font-family: 'Nanum Pen Script', cursive !important;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

/* Map */
#contactMap {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: block; }

.address-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3; 
}

.address-info:hover {
  background-color: white; 
}

.md-form .prefix {
  font-size: 1.5rem !important;
}

.address-info-mobile {
  position: absolute;
  width: 75%;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3; 
}

.address-info-mobile:hover {
  background-color: #fff; 
}

/* Clinic Item Slides in Frontpage */
.clinic-items {
  width:100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  perspective: 500px;
}

.clinic-items.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.clinic-item {
  width:300px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.clinic-item:hover {
  transform: scale(1.2);
}

/* Clinic Page Styles */
.product-page .widget {
  margin: -90px 0 0;
}

@media screen and (max-width: 768px) {
  .product-page .widget {
    margin: 0;
  }  
}


